*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background: #020410;
    
}
header{
    /*background-color: #12002f;*/
}
header .navigation{
    width: 100%;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
header .navigation img{
    padding-left: 30px;
}
header .navigation nav{
    display: grid;
    position: fixed;
    grid-gap:5px;
    grid-template-columns: repeat(4, auto);
    margin: 0 auto;
    padding-left: 758px;
    padding-right: 758px;
    width: 100%;
   
}
.navigation nav a{
    text-decoration: none;
    font-size: 25px;
    color: white;
}
header.is-scrolling{
    background-color: #4b95d0;
}
header.is-scrolling .navigation nav{
    background-color: #4b95d0;
    padding-top: 16px;
    padding-bottom: 26px;
    
}
section.homepg{
    align-items: center;
    padding-left: 200px;
    margin-top: 50px;
}
section .homepg-content h1{
    color: grey; 
    font-size: 30px;
}
section .homepg-content h1 span{
    color: white;
    font-size: 100px;
    margin-bottom: 160px;
    font-family: 'Times New Roman', Times, serif;

}
section .homepg-content .square{
height: 15px;
width: 15px;
background-color: #4b95d0;
margin-left: 638px;
margin-top: -37px;
margin-bottom: 43px;

}
.homepg-content a {
    text-decoration: none;
    background: linear-gradient(to right, #4b95d0, #4645aa);
    color: white;
    padding: 10px;
    border-radius: 8px;
    font-size: 40px;
    white-space: nowrap;
    margin-top: 45px;
}

@media(max-width: 320px){
    section.homepg{
        align-items: center;
        padding-left: 30px;
        margin-top: 60px;
    } 
    section .homepg-content h1 span{
        color: white;
        font-size: 6px;
        margin-bottom: 160px;
    }
    section .homepg-content .square{
        height: 15px;
        width: 15px;
        background-color: #4b95d0;
        margin-left: 50px;
        margin-top: -35px;
        margin-bottom: 43px;
        
        }
}
@media only screen and (max-width: 1042px) {
    section.homepg{
        align-items: center;
        padding-left: 30px;
        margin-top: 50px;
    } 
    section .homepg-content h1 span{
        color: white;
        font-size: 0px;
        margin-bottom: 160px;
    }
  }
@media(max-width: 768px){
    section.homepg{
        align-items: center;
        padding-left: 30px;
        margin-top: 60px;
    } 
    section .homepg-content h1 span{
        color: white;
        font-size: 90px;
        margin-bottom: 160px;
    }
    section .homepg-content .square{
        height: 15px;
        width: 15px;
        background-color: #4b95d0;
        margin-left: 570px;
        margin-top: -35px;
        margin-bottom: 43px;
        
        }
}
.about{
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #020410;
}
.about .aboutMe{
    display: grid;
    grid-template-columns: repeat(2, auto);
    
    padding-top: 50px;
    padding-bottom: 200px;
    padding-left: 200px;
}
.about h2{
    padding-left: 600px;
    padding-top: 100px;
    font-size: 50px;
    color: white;
    bottom: 250px;
    
}
.aboutMe .image{
    position: relative;
    top: 0;
    left: 0;
}
.aboutMe .image img{
    position: absolute;
    top: 40px;
    left: 20px;
    border-radius: 4px;
    width: 50%;
}
 .aboutMe .image div.rectangle{
    position: relative;
   border-radius: 8px;
   border: 12px solid #4b95d0;
   padding: 20px;
   width: 300px;
   height: 350px;
   top: 60px;
   margin-left: 20px;
}
.aboutMe .me{
    margin-left: -130px;
    margin-top: 80px;
   margin-right: 100px;
}
.aboutMe .me p{
    color: white;
    font-size: 25px;
   margin-bottom: 60px;
    text-justify: auto;
   
}
.me a {
    text-decoration: none;
    background: linear-gradient(to right, #4b95d0, #4645aa);
    color: white;
    padding: 5px 19px;
    border-radius: 8px;
    font-size: 40px;
    cursor: pointer;
   
}


.project-part{

    padding: 80px;
    
    
}
.project-part .projectss h2{
    color: white;
    font-weight: 700;
    font-size: 70px;
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;

}
.myproject-part{
    display: flex;
    align-items: center;
    margin-top: 50px;
    
   
}
.myprojects{
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px rgb(197, 195, 195);
    margin: 10px;
    border: 8px;
    border-radius: 8px;
    border: 8px solid #4b95d0 ;
    padding: 20px;
    
    
}
.myprojects h3{
    color: white;
    
    font-size: 23px;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
}
.myprojects p{
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 20px;
    
}

@media only screen and(max-width:100px){
    .myproject-part{
        display: flex;
        flex-wrap: wrap;
    }
}
.myproject-images{
    margin-top: 25px;
    width: 200px;
    border-radius: 390px;
    margin-left: 20px;
}
hr{
    margin-left: 20px;
    margin-right: 20px;
}
.theprojects{
    text-decoration: none;
    color: #4b95d0;
}
a{
    text-decoration: none;
    color: white;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 20px;
    font-weight: 600;
    font-size: 25px;
    
}



.contactme{
    padding: 80px 0;
    box-sizing: border-box;
    background: linear-gradient(to right, #4645aa, #4b95d0) ;
    height: 100vh;
}
.contactme .heading{
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 100px;
}
.heading h1{
    color: white;
    font-weight: 700;
    font-size: 50px;
    margin-top: -68px;
}
.contactmeinfo{
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
}
.message-me{
    margin-left: 200px;
}
.socialmedia h2{
    margin-top: 28px;
    margin-bottom: 28px;
    color: white;
    font-size: 40px;
}
.socialmedia h4{
    margin-top: 28px;
    margin-bottom: 28px;
    color: white;
    font-weight: 300;
    font-size: 20px;
}
.icons{
    margin-top: 8px;
    margin-bottom: 8px;
}
.icons img{

}
.icons a{

    font-size: 16px;
}

.contact_form{
    margin-top: 30px;
    margin-bottom: 30px;
}
.contactmeinfo .contact_form{
    background-color: linear-gradient(to right, #4b95d0, #4645aa);
    height: 15px;
    width: 15px;
    background-color: #4b95d0;
    width: 500px;
   height: 450px;
   top: 60px;
   margin-right: 100px;
   border-radius: 12px;
   padding: 30px;
}

.firstrow .insertinfo input{
    border-radius: 8px;
    width: 450px;
    padding: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    color: white;
    background-color: #020410;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.firstrow .insertinfo textarea{
    width: 450px;
    height: 30vh;
    padding: 10px;
    border-radius: 8px;
    color: white;
    background-color: #020410;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.submit button{
    border-radius: 8px;
    background-color: #020410;
   padding: 18px 29px;
   font-size: 20px;
}
.submit button a:hover{
    color: #4b95d0;
}
footer{
    background: linear-gradient(to right, #4645aa, #4b95d0) ;
}
footer .logo{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}